body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(71, 152, 46);
  color: #fff;
}

.news-object {
  grid-column: span 3;
}

.feed-article {
  border: solid;
  margin: 20px;
  height: 550px;
  background-color: rgb(71, 152, 46);
}

.link {
  color: inherit; 
  text-decoration: none;
}

.date-time {
  display: flex;
  color: #fff;
  flex-direction: row; 
  justify-content: space-around;
}

.article-photo {
  width: 400;
  height: 400;
  margin: auto;
  color: #fff;
}

.article-title {
  text-align: center;
  color: #fff;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  margin-left: 100%;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  margin-left: 100%;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }

  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}